/*
Palette
#020202
#0D324D;
#7f5a83
#a188a6
#9da2ab
*/

@font-face {
    font-family: pBold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: pRegular;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: pMedium;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: pSemiBold;
    src: url(fonts/Poppins-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 15px 75px;
}

.site-title h1 {
    font-family: pSemiBold;
    font-size: 25px;
    color: white;
}

.quick-links a {
    color: black;
    text-decoration: none;
    font-family: monospace;
    margin-right: 14px;
    font-size: 14px;
    font-family: pMedium;
    color: white;
    position: relative;
}

.quick-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 0; 
    height: 2px;  
    background-color: currentColor;  
    transition: width 0.3s ease;
}

.quick-links a:hover::after {
    width: 100%;
}

.hero-section {
    width: 100%;
    padding: 40px 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-section-category {
    width: 100%;
    padding: 40px 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-category .text {
    font-family: pRegular;
    max-width: 45%;
    border-radius: 10px;
    color: white;
}

.hero-section .text {
    font-family: pRegular;
    max-width: 45%;
    border-radius: 10px;
    color: white;
}

.hero-section-category .text h3 {
    font-family: pBold;
    font-size: 35px;
    text-align: center;
}

.hero-section .text h3 {
    font-family: pBold;
    font-size: 35px;
}

.hero-section-category .text p {
    font-family: pRegular;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.hero-section .text p {
    font-family: pRegular;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.hero-section-category .text p a {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.696);
    border-radius: 10px;
    color: black;
    font-size: 17px;
    text-decoration: none;
}

.hero-section .text a {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.696);
    border-radius: 10px;
    color: black;
    font-size: 17px;
    text-decoration: none;
}

.hero-section .text a:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.632);
}

.hero-section .display {
    display: flex;
    justify-content: center;
}

.hero-section img {
    max-width: 450px;
    border-radius: 20px;
}

.category-container-parent {
    background-color: white !important;
    display: flex;
    padding: 40px 75px;
    flex-direction: column;
    border-radius: 65px 65px 0px 0px;
    align-items: center;
}

.category-container-parent h2 {
    font-family: pSemiBold;
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.catcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1750px;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px 75px 20px 75px;
    background: white !important;
    font-family: pRegular;
    font-size: 13px;
    color: black;
}

footer div a {
    color: #5c5a73;
    text-decoration: none;
}

body {
    background-color: #1f2338;
    animation: gradientAnimation 15s linear infinite;
}

@keyframes gradientAnimation {
    0%, 100% {background-color: #1f2338;}
    20% {background-color: #311c24;}
    40% {background-color: #31301c;}
    60% {background-color: #1e311c;}
    80% {background-color: #1c312a;}
}

#hamburger-icon {
    color: white !important;
    background-color: transparent !important;
}

.mobile-hrefs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    opacity: 0.99;
    background-color: #1f2338;
    display: none;
}

.mobile-hrefs .content-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}


.mobile-hrefs .content-container a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: 8px;
    text-align: center;
    font-family: pRegular;
}

.mobile-hrefs .content-container h1 {
    color: white;
    text-align: center;
    font-family: pSemiBold;
    font-size: 27px;
    margin-bottom: 20px;
}

.close-button-container {
    display: flex;
    justify-content: right;
    padding: 20px 20px;
}

.close-button-container button {
    background-color: transparent;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: none;

}

@media (max-width: 1400px) {
    .quick-links a {
        font-size: 12px;
    }
}

@media (max-width: 1250px) {
    .catcontainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .quick-links a {
        display: none;
    }
}

@media (max-width: 1030px) {
    
    .hero-section {
       flex-direction: column-reverse;
       justify-content: center;
    }

    .hero-section .text {
        font-family: pRegular;
        max-width: 100%;
        text-align: center;
    }

    .hero-section .display {
        display: none;
        margin-bottom: 40px;
    }
}

@media (max-width: 815px) {

    .hero-section .display {
        display: none;
        margin-bottom: 40px;
    }

    .catcontainer {
        grid-template-columns: repeat(1, 1fr);
    }

    footer div p {
        text-align: center;
    }
}

@media (max-width: 650px) {

    .header {
        padding: 20px 20px;
    }

    .hero-section {
        padding: 40px 50px;
    }
}

@media (max-width: 400px) {

    .category-container-parent {
        border-radius: 0px;
    }
}