/*
Palette
#020202
#0D324D;
#7f5a83
#a188a6
#9da2ab
*/

@font-face {
    font-family: pBold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: pRegular;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: pMedium;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: pSemiBold;
    src: url(fonts/Poppins-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 15px 75px;
    background-color: #0D324D;
}


.site-title h1 {
    font-family: pSemiBold;
    font-size: 25px;
    color: white;
}

.quick-links a {
    color: black;
    text-decoration: none;
    font-family: monospace;
    margin-right: 14px;
    font-size: 14px;
    font-family: pMedium;
    color: white;
    position: relative;
}

.quick-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 0; 
    height: 2px;  
    background-color: currentColor;  
    transition: width 0.3s ease;
}

.quick-links a:hover::after {
    width: 100%;
}

.hero-section {
    width: 100%;
    /*background-color: #0D324D;*/
    padding: 40px 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #0D324D, #1b6499);
}

.hero-section .text {
    background-color: rgba(255, 255, 255, 0.14);
    font-family: pRegular;
    max-width: 55%;
    padding: 20px 20px;
    border-radius: 10px;
    color: white;
}

.hero-section .text h3 {
    font-family: pBold;
    font-size: 35px;
}

.hero-section .text p {
    font-family: pRegular;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.hero-section .text a {
    padding: 3px 10px;
    background-color: #c598ca;
    border-radius: 10px;
    color: black;
    font-size: 17px;
    text-decoration: none;
}

.hero-section .display {
    display: flex;
    justify-content: center;
}

.hero-section img {
    max-width: 450px;
    border-radius: 20px;
}


