@font-face {
    font-family: pBold;
    src: url(fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: pRegular;
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: pMedium;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: pSemiBold;
    src: url(fonts/Poppins-SemiBold.ttf);
}

content {
    color :rgb(23, 23, 23);
}
content * {
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
}
content h2 {
    margin: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.catSection { 
    background-color: #F2F2F2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    border-radius: 15px; 
    transition: transform 0.3s ease-in-out; 
    color: black;
} 

.catSection div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.catSection div h3 {
    font-family: pMedium;
    font-size: 20px;
}

.catSection div img {
    height: 20px;
    width: 20px;
}

.catSection p {
    text-align: center;
    font-family: pRegular;
    font-size: 14px;
}

.difficulty-easy {
    font-size: 12px;
    font-family: pRegular;
    padding: 2px 8px;
    background-color: #69995D;
    border-radius: 10px;
    color: white;
}

.difficulty-medium {
    font-size: 12px;
    font-family: pRegular;
    padding: 2px 8px;
    background-color: #998f5d;
    border-radius: 10px;
    color: white;
}

.difficulty-hard {
    font-size: 12px;
    font-family: pRegular;
    padding: 2px 8px;
    background-color: #99665d;
    border-radius: 10px;
    color: white;
}

  
.catSection:hover { 
    transform: scale(1.05);
    cursor: pointer;
    background-color:  #51506088;
    color: black;
} 

@media screen and (max-width: 475px) {

    .catSection div {
       text-align: center;
    }

    .catSection div img {
        align-self: center;
    }

    .header div h1 {
        font-size: 20px;
    }

}